:root {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background: #121212;
  /* background: -webkit-linear-gradient(to right, #1d2671, #c33764);
  background: linear-gradient(to right, #1d2671, #c33764); */
  /* color: #fff; */
}
